# Limpieza de los datos

In [1]:
import pandas as pd

In [2]:
# aquí están los datos en local
data_path = '/Users/cbautistap/Dropbox/MCD/Cursos/primavera-2021/dpa/data/Food_Inspections.csv'

In [3]:
# cargamos datos, convertimos a formato datetime la columna 'Inspection Date' y queda con formato yy/mm/dd
data = pd.read_csv(data_path, parse_dates=['Inspection Date'])

In [4]:
data.head()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
0,2472391,PHILZ COFFEE,PHILZ COFFEE,2766979.0,NaN,Risk 2 (Medium),1555 N WELLS ST,CHICAGO,IL,60610.0,2021-01-07,License,Not Ready,NaN,41.910736,-87.634551,"(-87.63455069145124, 41.910736031820235)"
1,2453551,BIAN,BIAN,2744753.0,Restaurant,Risk 1 (High),600 W CHICAGO AVE,CHICAGO,IL,60654.0,2020-10-20,License,Pass,NaN,41.896585,-87.642996,"(-87.64299618172501, 41.896585191199556)"
2,2386633,JIN JU,JIN JU,27137.0,Restaurant,Risk 1 (High),5203 N CLARK ST,CHICAGO,IL,60640.0,2020-08-28,Canvass,No Entry,NaN,41.976301,-87.668276,"(-87.66827593789948, 41.97630115368914)"
3,2386595,LA BIZNAGA #2,LA BIZNAGA #2,2708992.0,NaN,Risk 1 (High),2949 W BELMONT AVE,CHICAGO,IL,60618.0,2020-08-27,Complaint,No Entry,NaN,41.939256,-87.702270,"(-87.70226967930802, 41.939255926667535)"
4,2386523,MC DONALD'S,MC DONALD'S,2560785.0,Restaurant,Risk 2 (Medium),6336 S ASHLAND AVE,CHICAGO,IL,60636.0,2020-08-26,Short Form Complaint,Pass,NaN,41.778361,-87.664337,"(-87.66433686342792, 41.77836097603761)"

In [5]:
#data['month'] = data['Inspection Date'].dt.month

In [6]:
data.dtypes

Inspection ID               int64
DBA Name                   object
AKA Name                   object
License #                 float64
Facility Type              object
Risk                       object
Address                    object
City                       object
State                      object
Zip                       float64
Inspection Date    datetime64[ns]
Inspection Type            object
Results                    object
Violations                 object
Latitude                  float64
Longitude                 float64
Location                   object
dtype: object

Queremos convertir license y zip a string. Si lo convertimos directo astype(str) queda con decimales, por lo tanto convertimos primero a formato int. Sin embargo, ambas columnas tienen NAs por lo que una solución es llenarlos con 0 y ahora sí convertir a string. QUIZÁ NO HAY PROBLEMA TENERLOS EN STRING CON EL DECIMAL XXXX.0

In [7]:
data.isna().sum()

Inspection ID          0
DBA Name               0
AKA Name            2487
License #             17
Facility Type       4892
Risk                  69
Address                0
City                 158
State                 50
Zip                   52
Inspection Date        0
Inspection Type        1
Results                0
Violations         57447
Latitude             710
Longitude            710
Location             710
dtype: int64

In [8]:
data['License #']=data['License #'].fillna(0)
data['Zip']=data['Zip'].fillna(0)

In [9]:
data.isna().sum()

Inspection ID          0
DBA Name               0
AKA Name            2487
License #              0
Facility Type       4892
Risk                  69
Address                0
City                 158
State                 50
Zip                    0
Inspection Date        0
Inspection Type        1
Results                0
Violations         57447
Latitude             710
Longitude            710
Location             710
dtype: int64

In [10]:
# convertimos columnas 'License #' y 'Zip'
data = data.astype({"License #": 'int', "Zip": 'int'})
data = data.astype({"License #": 'str', "Zip": 'str'})
data.dtypes

Inspection ID               int64
DBA Name                   object
AKA Name                   object
License #                  object
Facility Type              object
Risk                       object
Address                    object
City                       object
State                      object
Zip                        object
Inspection Date    datetime64[ns]
Inspection Type            object
Results                    object
Violations                 object
Latitude                  float64
Longitude                 float64
Location                   object
dtype: object

In [11]:
data.head()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location
0,2472391,PHILZ COFFEE,PHILZ COFFEE,2766979,NaN,Risk 2 (Medium),1555 N WELLS ST,CHICAGO,IL,60610,2021-01-07,License,Not Ready,NaN,41.910736,-87.634551,"(-87.63455069145124, 41.910736031820235)"
1,2453551,BIAN,BIAN,2744753,Restaurant,Risk 1 (High),600 W CHICAGO AVE,CHICAGO,IL,60654,2020-10-20,License,Pass,NaN,41.896585,-87.642996,"(-87.64299618172501, 41.896585191199556)"
2,2386633,JIN JU,JIN JU,27137,Restaurant,Risk 1 (High),5203 N CLARK ST,CHICAGO,IL,60640,2020-08-28,Canvass,No Entry,NaN,41.976301,-87.668276,"(-87.66827593789948, 41.97630115368914)"
3,2386595,LA BIZNAGA #2,LA BIZNAGA #2,2708992,NaN,Risk 1 (High),2949 W BELMONT AVE,CHICAGO,IL,60618,2020-08-27,Complaint,No Entry,NaN,41.939256,-87.702270,"(-87.70226967930802, 41.939255926667535)"
4,2386523,MC DONALD'S,MC DONALD'S,2560785,Restaurant,Risk 2 (Medium),6336 S ASHLAND AVE,CHICAGO,IL,60636,2020-08-26,Short Form Complaint,Pass,NaN,41.778361,-87.664337,"(-87.66433686342792, 41.77836097603761)"

In [12]:
# creamos función para estandarizar el nombre de las columnas
def standarize_column_names(data, excluded_punctuation=".,-*¿?¡!#"):
    data.columns = data.columns.str.lower().str.replace(" ", "_")
    for ch in excluded_punctuation:
        data.columns = data.columns.str.replace(ch, "")

In [13]:
standarize_column_names(data)

/Users/cbautistap/.pyenv/versions/itam_dpa/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  """

In [14]:
data.head(2)

,inspection_id,dba_name,aka_name,license_,facility_type,risk,address,city,state,zip,inspection_date,inspection_type,results,violations,latitude,longitude,location
0,2472391,PHILZ COFFEE,PHILZ COFFEE,2766979,NaN,Risk 2 (Medium),1555 N WELLS ST,CHICAGO,IL,60610,2021-01-07,License,Not Ready,NaN,41.910736,-87.634551,"(-87.63455069145124, 41.910736031820235)"
1,2453551,BIAN,BIAN,2744753,Restaurant,Risk 1 (High),600 W CHICAGO AVE,CHICAGO,IL,60654,2020-10-20,License,Pass,NaN,41.896585,-87.642996,"(-87.64299618172501, 41.896585191199556)"

In [15]:
# cambiamos el nombre de la columna license
data=data.rename(columns={'license_':'license'})
data.head(2)

,inspection_id,dba_name,aka_name,license,facility_type,risk,address,city,state,zip,inspection_date,inspection_type,results,violations,latitude,longitude,location
0,2472391,PHILZ COFFEE,PHILZ COFFEE,2766979,NaN,Risk 2 (Medium),1555 N WELLS ST,CHICAGO,IL,60610,2021-01-07,License,Not Ready,NaN,41.910736,-87.634551,"(-87.63455069145124, 41.910736031820235)"
1,2453551,BIAN,BIAN,2744753,Restaurant,Risk 1 (High),600 W CHICAGO AVE,CHICAGO,IL,60654,2020-10-20,License,Pass,NaN,41.896585,-87.642996,"(-87.64299618172501, 41.896585191199556)"

In [38]:
# Hacemos subset de las columnas que utilizaremos para el modelo
data = data[['inspection_id', 'facility_type', 'risk', 'zip', 'inspection_date','inspection_type', 'results', 'violations', 'latitude', 'longitude']]
data.head()

,inspection_id,facility_type,risk,zip,inspection_date,inspection_type,results,violations,latitude,longitude
0,2472391,NaN,Risk 2 (Medium),60610,2021-01-07,License,Not Ready,NaN,41.910736,-87.634551
1,2453551,Restaurant,Risk 1 (High),60654,2020-10-20,License,Pass,NaN,41.896585,-87.642996
2,2386633,Restaurant,Risk 1 (High),60640,2020-08-28,Canvass,No Entry,NaN,41.976301,-87.668276
3,2386595,NaN,Risk 1 (High),60618,2020-08-27,Complaint,No Entry,NaN,41.939256,-87.702270
4,2386523,Restaurant,Risk 2 (Medium),60636,2020-08-26,Short Form Complaint,Pass,NaN,41.778361,-87.664337

In [43]:
data.groupby('results').count()

,inspection_id,facility_type,risk,zip,inspection_date,inspection_type,violations,latitude,longitude
results,,,,,,,,,
Business Not Located,72,45,64,72,72,72,0,69,69
Fail,41527,41159,41505,41527,41527,41527,38344,41382,41382
No Entry,7341,7270,7334,7341,7341,7341,545,7338,7338
Not Ready,2290,2187,2274,2290,2290,2290,64,2282,2282
Out of Business,18709,14669,18705,18709,18709,18709,32,18673,18673
Pass,112641,112396,112629,112641,112641,112640,86716,112209,112209
Pass w/ Conditions,32550,32512,32550,32550,32550,32550,31982,32467,32467

In [48]:
# Cambiamos valor de results a 'Pass' y 'Not Pass' para cualquier otro
data['results'].mask(data['results'] != 'Pass', other = 'Not Pass', inplace=True)

,inspection_id,facility_type,risk,zip,inspection_date,inspection_type,results,violations,latitude,longitude
0,2472391,NaN,Risk 2 (Medium),60610,2021-01-07,License,Not Pass,NaN,41.910736,-87.634551
1,2453551,Restaurant,Risk 1 (High),60654,2020-10-20,License,Pass,NaN,41.896585,-87.642996
2,2386633,Restaurant,Risk 1 (High),60640,2020-08-28,Canvass,Not Pass,NaN,41.976301,-87.668276
3,2386595,NaN,Risk 1 (High),60618,2020-08-27,Complaint,Not Pass,NaN,41.939256,-87.702270
4,2386523,Restaurant,Risk 2 (Medium),60636,2020-08-26,Short Form Complaint,Pass,NaN,41.778361,-87.664337

In [49]:
data.groupby('results').count()

,inspection_id,facility_type,risk,zip,inspection_date,inspection_type,violations,latitude,longitude
results,,,,,,,,,
Not Pass,102489,97842,102432,102489,102489,102489,70967,102211,102211
Pass,112641,112396,112629,112641,112641,112640,86716,112209,112209

In [16]:
def standarize_column_strings(data, columns, excluded_punctuation=".,-*¿?¡!"):
    for col in columns:
        data[col] = data[col].apply(lambda x: x.lower().replace(" ", "_"))
        data[col] = data[col].apply(lambda x: x.lower().replace("á", "a"))
        data[col] = data[col].apply(lambda x: x.lower().replace("é", "e"))
        data[col] = data[col].apply(lambda x: x.lower().replace("í", "i"))
        data[col] = data[col].apply(lambda x: x.lower().replace("ó", "o"))
        data[col] = data[col].apply(lambda x: x.lower().replace("ú", "u"))
        data[col] = data[col].apply(lambda x: x.lower().replace("ü", "u"))
        for ch in excluded_punctuation:
            data[col] = data[col].apply(lambda x: x.replace(ch, ""))

In [31]:
data.isna().sum()

inspection_id          0
dba_name               0
aka_name            2487
license                0
facility_type       4892
risk                  69
address                0
city                 158
state                 50
zip                    0
inspection_date        0
inspection_type        1
results                0
violations         57447
latitude             710
longitude            710
location             710
dtype: int64

In [30]:
col_text = ['dba_name',
 #'aka_name'
 'license',
 'facility_type',
 #'risk',
 #'address',
 #'city',
 #'state',
 #'zip',
 #'inspection_type',
 #'results',
 #'violations',
 #'location'
           ]
#col_text = data.select_dtypes(include=['object']).columns.to_list()
#col_text = ["alcaldia", "colonia", "indice_des"]
standarize_column_strings(data, col_text)
data.head()

AttributeError: 'float' object has no attribute 'lower'

In [19]:
col_text

['dba_name',
 'aka_name',
 'license',
 'facility_type',
 'risk',
 'address',
 'city',
 'state',
 'zip',
 'inspection_type',
 'results',
 'violations',
 'location']

In [18]:
data[col_text].dtypes

dba_name           object
aka_name           object
license            object
facility_type      object
risk               object
address            object
city               object
state              object
zip                object
inspection_type    object
results            object
violations         object
location           object
dtype: object

In [ ]:
data.groupby('results').count()
#data['results'].nunique()